html {
  height: 100%;
}

body {
  background: #0e101c;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 100;
  color: white;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

#root {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.global-button {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.counter-container {
  display: flex;
  flex-direction: column;
}

.counter-text {
  margin-top: 50px;
  text-align: center;
}

.counter-button-container {
  display: flex;
  flex-direction: column;
  width: 150px;
  justify-content: center;
  align-self: center;
}

.counter-button-primary {
  background-color: #1266f1;
  border: 2px solid #1266f1;
}

.counter-button-primary:hover {
  background-color: #1266f1d4;
}

.counter-button-secondary {
  background-color: #b23cfd;
  border: 2px solid #b23cfd;
}

.counter-button-secondary:hover {
  background-color: #b23cfdd4;
}

.counter-button-success {
  background-color: #00b74a;
  border: 2px solid #00b74a;
}

.counter-button-success:hover {
  background-color: #00b74ad4;
}

.counter-button-danger {
  background-color: #f93154;
  border: 2px solid #f93154;
}

.counter-button-danger:hover {
  background-color: #f93154d4;
}

.counter-button-warning {
  background-color: #ffa900;
  border: 2px solid #ffa900;
}

.counter-button-warning:hover {
  background-color: #ffa900d4;
}

.counter-button-info {
  background-color: #39c0ed;
  border: 2px solid #39c0ed;
}

.counter-button-info:hover {
  background-color: #39c0edd4;
}

.counter-button-dark {
  background-color: #262626;
  border: 2px solid #262626;
}

.counter-button-dark:hover {
  background-color: #262626d4;
}
